---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';

interface Props extends Widget {
  title?: string | null;
  content?: string | null;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  content = await Astro.slots.render('content'),
  title = await Astro.slots.render('content'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="mx-auto text-center flex justify-center items-center flex-col">
    <p class="p-5 text-3xl uppercase" set:html={title} />
    <p class="p-5 text-xl text-muted dark:text-slate-400" set:html={content} />
  </div>
</WidgetWrapper>
